:root {
  --white: #FFFFFF;
  --black: #b6b6b6;
  --pink: #d71b9e;
  --text-input-field: #F7F7F7;
  --hospital-green: #14eaaad9;
  --xsm: 12px;
  --sm: 16px;
  --md: 20px;
  --lg: 24px;
  --xlg: 28px;
}