@use 'vars';

.portfolio-container {
  backdrop-filter: blur(1.5px);
  margin: 100px 0;
  text-align: center;
}

.portfolio-container h3 {
  color: var(--white);
  font-size: var(--xlg);
  margin: 5rem 0 1rem 0;
  padding-top: 40px;
}

.projects-container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


//Media querys 
@media (max-width: 752px) { 
  .portfolio-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 12px 0 12px 0;
  }

  .portfolio-container h3 {
    color: var(--hospital-green);
    font-size: var(--xlg);
    margin: 1rem 0 1rem 0;
    padding-top: 40px;
  }

  .projects-container { 
    display: flex;
    flex-direction: column;
    margin: 1px 24px;
  }
}