@use 'vars';

.portfolio-container {
  background-color: #23023f24;
  backdrop-filter: blur(1px);
  margin: 80px 0 50px 0;
  text-align: center;
}

.portfolio-container h3 {
  color: var(--white);
  font-size: var(--xlg);
  margin: 20px 0 20px 0;
  padding-top: 40px;
}

.portfolio-container h5 { 
  color: var(--hospital-green);
  font-size: var(--lg);
  margin-top: 80px;
}

.projects-container { 
  display: flex;
  margin: 0;
  overflow: auto;
}

.projects-container::-webkit-scrollbar { 
  width: 0;
}
