.project-container {
  max-width: 520px;
  margin: 24px 12px;
}

.portfolio-container div * { 
  padding: 8px 0 8px 0;
}

.project-title {
  color: var(--pink);
  font-size: var(--md);
  text-decoration: none;
}

.project-description {
  color: var(--black);
  font-size: var(--sm);
}

.project-image {
  width: 510px;
  height: 310px;
  border-radius: 30px;
  object-fit: cover;
}


//Media querys 
@media (max-width: 752px) { 
  .projects-container { 
    max-width: 340px;
    margin: 12px 1px;
    
  }

  .project-image { 
    max-width: 340px;
    height: 210px;
    object-fit: cover;
  }
}