@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
  background: linear-gradient(90deg,rgb(3, 0, 11),rgb(28, 1, 47), rgb(28, 1, 40), rgb(3, 0, 11));
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.main-container {
  background: rgba(46, 46, 46, 0.448);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  padding-top: 18px;
  margin: 18px;
}